body {
  margin-top: 105px;
  overflow-x: hidden;
}

.navbar {
  box-shadow: 2px 2px 5px #e6120a;
  opacity: 0.8;
  background: #fff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors img {
  margin-top: -50px;
}

#authors .card:hover {
  background: #3292a6;
  color: #fff;
}
#authors .fab {
  color: #fff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }

  .mb-resp {
    margin-bottom: 1rem;
  }
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../h3.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

.carousel-item {
  height: 600px;
}

.carousel-image-1 {
  background: url('../s1.jpeg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../t1.jpg');
  background-position: 0 -150px;
  background-size: cover;
}

.carousel-image-3 {
  background: url('../t3.JPG');
  background-position: 0 -450px;
  background-size: cover;
}
